@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    box-sizing: border-box;
}

a { text-decoration: none; color: #fff}

/* etc */
#fp-nav {
    span {
        background-color: #fff !important;
    }
}

/* header */
.title {
    img {
        width: 150px;
    }
}


/* visual */
.visual-title {
    width: 500px;
    margin: 0 auto;
}

.play {
    position: absolute;
    cursor: pointer;
}

@keyframes rotation{ 100% { transform: rotate(360deg); } }

.play1 {
    animation: rotation 10s infinite linear;
}

.play2 { 
    padding-top: 27px;
    padding-left: 17px;
}

.section {
    &:first-child {
        background: url(assets/bg.png);

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(
            180deg, rgba(18, 18, 18, 0) 40%, #19283B 100%);
        }
    }

    &:nth-child(2) {
        background: url(assets/moon.png);
        background-repeat: no-repeat;
        background-position: bottom;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(
            180deg, rgba(18, 18, 18, 0) 40%, #19283B 100%);
        }
    }
    &:nth-child(3) {
        background: url(assets/bg1.png);
        background-repeat: no-repeat;
        background-position: bottom;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(
            0deg, rgba(18, 18, 18, 0) 20%, #19283B 90%);
        }
    }
    &:nth-child(4) {
        background: url(assets/bg2.png);
        background-repeat: no-repeat;
        background-position: bottom;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(
            180deg, rgba(18, 18, 18, 0) 40%, #19283B 100%);
            filter: blur(5px);
        }
    }
}

/* webdesign */
.sub-title {
    width: 350px;
}

.box1 {
    &:before {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 20%; top: 30%;
        background: url(assets/a1.png);
        cursor: pointer;
        transition: 0.3s;
    }
   
    &:hover:after {
        cursor: pointer;
        transition: 0.3s;
        opacity: 1;
    }

    &:after {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 20%; top: 30%;
        background: url(assets/a2.png);
        opacity: 0;
    }
}

.box2 { 
    &:before {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 40%; top: 40%;
        background: url(assets/a3.png);
        cursor: pointer;
        transition: 0.3s;
    }
    &:hover:after {
        cursor: pointer;
        transition: 0.3s;
        opacity: 1;
    }

    &:after {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 40%; top: 40%;
        background: url(assets/a4.png);
        opacity: 0;
    }
}

.box3 { 
    &:before {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 60%; top: 30%;
        background: url(assets/a5.png);
        cursor: pointer;
        transition: 0.3s;
    }
    &:hover:after {
        cursor: pointer;
        transition: 0.3s;
        opacity: 1;
    }

    &:after {
        content:'';
        width: 400px; height: 500px;
        position: absolute;
        left: 60%; top: 30%;
        background: url(assets/a6.png);
        opacity: 0;
    }
}

/* design */
.z {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}

.green { color: #A0CD92}
.yellow { color: #ffe602}
.blue { color: #A4D2FE}
.b { color: #c294fd}
.b1 { color: #CFD4F5}
.b2 { color: #6e6e6e}

.card { 
    cursor: pointer;
   img {

    &:hover { opacity: 0.7; transition: 0.3s all linear;}
   }

}

/* profile */
.pro-img { 
    position: absolute;
    top: 14%; left: 11%;
}

.so-img { 
    position: absolute;
    top: 18%; left: 25%;
    img {
        width: 300px;
    }
}

.etc { 
    position: absolute;
    bottom: 3%;
    right: 2%;
}